<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approve Your Order - MetabolixMD</title>
</head>
<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, sans-serif; background-color: #f5f5f5; color: #2E2E2E; line-height: 1.5;">
    <div style="max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 16px; overflow: hidden;">
        <div style="background-color: #365D56; color: white; padding: 8px 16px; text-align: center; font-size: 14px;">
          ⚠️ Action Required: Approve your prescription to begin treatment.
        </div>

        <div style="padding: 10px; margin: 3px 0; text-align: center; background-color: #fff;">
          <img src="https://metabolixmd-us.s3.eu-west-1.amazonaws.com/logo.png" alt="MetabolixMD Logo" width="190" height="40" style="display: inline-block;">
        </div>

        <div style="padding: 0 32px 32px; background-color: #EDF4F2; border-radius: 50px 50px 0 0; padding-top: 40px;">
            <h1 style="font-size: 38px; text-align: center; line-height: 1; font-weight: 550; margin-bottom: 20px; margin: 0 "><span style="color: #005041;">Approve</span> Your Order to Start Treatment</h1>

            <p style="text-align: center; text-wrap: balance; color: #000000; margin-top: 40px; margin-bottom: 32px; font-size: 16px;  opacity: 70%;">
                Based on your consultation, your provider has recommended<br>
                a personalized GLP-1 prescription to support your weight<br>
                loss goals.
            </p>

            <div style="text-align: center; text-wrap: balance;">
                <h2 style="font-size: 18px; margin-bottom: 0px;">Now it's your turn to take action:</h2>
                <p style="color: #4A4A4A; font-size: 16px;">
                    Review your plan, confirm your payment method, and<br>
                    approve your order so we can begin fulfillment.
                </p>
            </div>

            <div style="margin: 2rem 0rem; text-wrap: balance; border: 2px solid #FD7823; border-style: dashed; border-radius: 23px; padding: 16px; text-align: center; font-size: 14px; font-weight: bold; max-width: 460px;">
                Your order won't be processed until you approve<br>
                it. You'll only be charged once it's confirmed.
            </div>

            <div style="text-align: center; margin-top: 3rem; margin-bottom: 5rem;">
                <a href="https://www.metabolixmd.com/profile-details" style="background-color: #365D56; color: white; padding: 18px 38px; border-radius: 35px; text-decoration: none; display: inline-block;">Approve My Order</a>
            </div>
        </div>

        <div style="background-color: #365D56; color: white; padding:  32px; text-align: center; text-wrap: pretty">
            <h3 style="font-size: 24px; margin-bottom: 24px; font-weight: 500;">We're here for you every step of the way.</h3>
            <div >
                <p style="font-size: 18px; color: rgba(255, 255, 255, 0.9);">
                    If you have questions about what happens next or need help with scheduling, our support team is ready to assist.
                </p>
                <div style=" font-size: 14px;">
                    <p>Email: <a href="mailto:consultant@metabolixmd.com" style="color: white;">consultant@metabolixmd.com</a></p>
                    
                    <p>Visit our <a href="https://www.metabolixmd.com/contact-us" style="color: white;">Help Center</a></p>
                </div>
            </div>
        </div>

        <div style="background-color: #EDF4F2; padding: 40px 32px; padding-bottom: 50px;  position: relative;">
            <h3 style="text-align: center; font-size: 30px; font-weight: 500; line-height: 1;">What's Included in Your Plan</h3>
            <p style="text-align: center; text-wrap: balance; font-size: 16px; margin-bottom: 30px;">
                When you approve your prescription, you're getting more
                than just medication. Here's what's included with your
                treatment:
            </p>
            
            <div style=" margin: 10px auto;">
                <div style="display: flex; align-items: center; margin-bottom: 20px;gap:10px">
                    <img src="https://metabolixmd-us.s3.eu-west-1.amazonaws.com/doctor.png" alt="Doctor Icon" width="35" height="35" style="margin-right: 10px;">
                    <div>
                        <h4 style="font-size: 16px; font-weight: bold; margin: 0;">Personalized Doctor Review & Prescription</h4>
                        <p style="font-size: 14px; margin-top: 5px;">A licensed provider carefully reviews your health history and customizes your GLP-1 plan just for you.</p>
                    </div>
                </div>

                <div style="display: flex; align-items: center; margin-bottom: 20px;gap:10px">
                    <img src="https://metabolixmd-us.s3.eu-west-1.amazonaws.com/pharmacy.png" alt="Pharmacy Icon" width="35" height="35" style="margin-right: 10px;">
                    <div>
                        <h4 style="font-size: 16px; font-weight: bold; margin: 0;">Pharmacy Fulfillment</h4>
                        <p style="font-size: 14px; margin-top: 5px;">We partner with trusted, U.S.-licensed pharmacies to safely dispense your medication.</p>
                    </div>
                </div>

                <div style="display: flex; align-items: center;gap:10px">
                    <img src="https://metabolixmd-us.s3.eu-west-1.amazonaws.com/onGoingSupport.png" alt="Support Icon" width="35" height="35" style="margin-right: 10px;">
                    <div>
                        <h4 style="font-size: 16px; font-weight: bold; margin: 0;">Ongoing Support from Our Care Team</h4>
                        <p style="font-size: 14px; margin-top: 5px;">You'll have access to continued guidance and answers from the MetabolixMD team—before, during, and after treatment.</p>
                    </div>
                </div>
            </div>

        </div>

        <div style="background-color: #223D38; padding: 80px 0 40px; text-align: center;">
            <img src="https://metabolixmd-us.s3.eu-west-1.amazonaws.com/metabolix+white.png" alt="MetabolixMD Logo" width="200" height="35" style="margin-bottom: 30px;">
            
            <p style="color: white; margin-top: 3rem; font-weight: lighter;">Clinically guided weight loss—fast, affordable,<br>and entirely online.</p>
            
            <div style="margin: 30px 0;">
                <a href="https://www.facebook.com/metabolixmd" style="margin: 0 5px;"><img src="https://metabolixmd-us.s3.eu-west-1.amazonaws.com/Facebook.png" alt="Facebook" ></a>
                <a href="https://www.instagram.com/metabolixmd" style="margin: 0 5px;"><img src="https://metabolixmd-us.s3.eu-west-1.amazonaws.com/instagram.png" alt="Instagram" ></a>
                <a href="https://www.x.com/metabolixmd" style="margin: 0 5px;"><img src="https://metabolixmd-us.s3.eu-west-1.amazonaws.com/X.png" alt="Twitter"></a>
            </div>

            <div style=" margin: 0 auto 30px;  ">
                <a href="https://www.metabolixmd.com/profile-details" style="background-color: #365D56; color: white; padding: 10px ; border-radius: 25px; font-size: 12px; text-decoration: none; flex: 0 0 30%; text-align: center; display:inline-block">Account Log In</a>
                <a href="https://www.metabolixmd.com/get-started" style="background-color: #365D56; color: white; padding: 10px ; border-radius: 25px; font-size: 12px; text-decoration: none; flex: 0 0 30%; text-align: center; display: inline-block">Refill Prescription</a>
                <a href="https://www.metabolixmd.com/contact-us" style="background-color: #365D56; color: white; padding: 10px ; border-radius: 25px; font-size: 12px; text-decoration: none; flex: 0 0 30%; text-align: center; display: inline-block">Contact Support</a>
            </div>

           
            <div style="margin: 10px 5px;">
                <a href="https://www.metabolixmd.com/privacy-policy" style="color: white; opacity: 70%; font-size: 15px; text-decoration: none;">Privacy Policy</a>
            </div>
            
            <p style="font-size: 10px; margin-top: 20px; color: rgba(255, 255, 255, 0.7); width: 70%; margin: 20px auto 80px; text-align: center;">This email has been sent on behalf of MetabolixMD. Click here to manage your email preferences.</p>
        </div>
    </div>
</body>
</html>
